@charset "utf-8";
@import "../_style";
@import "~sweetalert2/dist/sweetalert2.min.css";

/* 販売店一覧画面 */
table {
  thead th {
    text-align: left;
    font-weight: bold !important;
    height: 25px;
  }
}
.search_form table {
  tbody th {
    text-align: left;
  }
  label {
    margin-left: 5px;
    margin-right: 10px;
  }
  .shop_name {
    margin: 0 5px;
  }
}
.middle_button {
  margin: 10px 0;
}
.result_list table {
  tbody th {
    text-align: center;
  }
  tbody tr td:not(:nth-child(2), :nth-child(6)) {
    text-align: center;
  }
  button {
    font-size: 1em;
    padding: 0 10px;
  }
}
.button_menu {
  text-align: right;
  margin: 5px 0;
  button {
    margin-left: 10px;
  }
}
button {
  font-size: 1.2em;
  padding: 0 30px;
}
