@charset "utf-8";
@import "../_style";
@import "~sweetalert2/dist/sweetalert2.min.css";

/* パスワード再設定画面 */
table {
  thead th {
    padding-left: 10px;
    text-align: left;
    font-weight: bold !important;
  }
  tbody th {
    padding-left: 10px;
    text-align: left;
  }
  td {
    padding-left: 10px;
    text-align: left;
    input{
      width: 200px;
    }
    .password_warning{
      font-size: 0.9em;
      padding-left: 5px;
    }
  }
}
