@charset "utf-8";
@import "../_style";
@import "~sweetalert2/dist/sweetalert2.min.css";


.list_button_bar a {
  text-decoration: none;
}
button {
  font-size: 1.2em;
  padding: 0 30px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

select {
  width: 180px;
}

.list table {
  border: none;
  margin-bottom: 10px;
  * button {
    width: auto;
    padding: 0 15px;
  }

  tfoot th {
    background-color: $title !important;
    height: 41px;
  }
}
.list_button_bar button {
  padding: 0 24px;
}

.index_cancel{
  background-color: $gray;
}
