@charset "utf-8";
@import "../_style";

h3 {
  font-size: 1.7em;
}

main,
.button_bar {
  width: 60%;
  margin: 0px auto;
}
.panel {
  width: 100%;
}

table {
  td, th {
    height: 1.5em;
  }
  th {
    text-align: left;
  }
}

.panel .index {
  vertical-align: middle;
  display: table-cell;
  padding: 0 5px;
  height: 2.5em;
  a {
    text-decoration: none;
  }
}
