@charset "utf-8";
@import "../_style";
@import "~sweetalert2/dist/sweetalert2.min.css";

table {
  tbody td {
    text-align: center;
    &:nth-child(2),
    &:nth-child(7) {
      text-align: left;
    }
  }
  button {
    width: 60px;
    height: 26px;
  }
}
.add_btn {
  margin-top: 10px;
  font-size: 1.2em;
  padding: 0px 30px 0px 30px;
}

