@charset "utf-8";
@import "../_style";
@import "~sweetalert2/dist/sweetalert2.min.css";

.format_name {
  padding-left: 10px;
  margin-right: 10px;
  width: 300px;
}
.row, .col {
  @extend .format_name;
  width: 100px;
}
.set_table thead th,
.file_setting thead th {
  text-align: left;
  padding: 3px 10px;
  font-weight: bold !important;
}
.set_table tbody th {
  text-align: left;
  padding-left: 10px;
}
.set_table tbody td {
  text-align: left;
  input {
    margin-right: 10px;
  }
}
.file {
  border: none;
  background-color: $white;
}
.file_setting {
  margin-top: 10px;
  font-size: 0.9em;
  //.separate {
  //  width: 40px;
  //  padding-left: 10px;
  //}
  //input {
  //  font-size: 0.9em;
  //}
  //select {
  //  width: 100%;
  //}
  //table td:not(:nth-child(2), :nth-child(3), :nth-child(7)) {
  //  text-align: center;
  //}
  table {
    border: none!important;
    teble-layout:fixed;
  }
  table td {
    padding: 0;
  }
  table thead,
  table tbody {
    display: block;
  }
  table tbody {
    overflow-y: scroll;
    height: 400px;
  }
  .title_th th {
    background-color: $default!important;
  }
  input[type="text"] {
    width: 50px;
  }
  select {
    margin: 5px;
  }
}
span.required
{
  color: #D9534F;
  display: inline-block;
}
