@charset "utf-8";
@import "../../../assets/scss/import/style";

/* ユーザ作成画面 */
table {
  thead th {
    text-align: left;
    font-weight: bold !important;
    height: 25px;
  }
  tbody th {
    text-align: left;
  }
  input {
    margin: 0px 5px;
  }
  .radio {
    margin-left: 15px;
  }
}

.button_create {
  margin-top: 10px;
}

button {
  font-size: 1.2em;
  padding: 0px 30px 0px 30px;
}


