@charset "utf-8";
@import "../../_style";

table {
  input {
    width: 400px;
  }
}

.input_warning{
  color: $danger;
}

.change_btn{
  button{
    padding: 0px 30px 0px 30px;
    font-size: 1.2em;
    margin-top: 10px;
  }
}