@charset "utf-8";
@import "../../../assets/scss/import/style";

.headline {
  margin-bottom: 10px;
}
.total_th {
  background-color: $title!important;
}
.list {
  table {
    margin-bottom: 10px;
  }
}
.panel {
  width: 100%;
}
.body {
  padding: 3px 10px;
}
.footer {
  background-color: $error;
  border-top: 1px solid $border_default;;
  color: $white;
  text-align: center;
  padding: 5px 0;
  .checkbox::before {
    border: 1px solid $white;
  }
}
.quiestion {
  margin-left: 20px;
  margin-bottom: 20px;
}
