@charset "utf-8";
@import "../../../assets/scss/import/style";

button {
  font-size: 1.2em;
  padding: 0 20px !important;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

select {
  width: auto;
}

table {
  margin: 20px 0;
  * button {
    width: auto;
    padding: 0 13px;
  }
}

.add_row {
  display: none;
}

.name input {
  width: 40%;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
  img {
    height: auto;
    width: 30px;
  }
}

.swal2-confirm {
  width: auto;
  height: auto;
}