@charset "utf-8";
@import "../../../assets/scss/import/style";

table {
  border: none !important;
  thead th {
    text-align: left;
    height: 25px;
  }
  thead, tbody {
    display: block;
  }
  tbody {
    overflow-y: scroll;
    height: 380px;
  }
}

.panel {
  width: 100%;
  .title {
    padding: 3px 7px;
  }
}

.result_list table {
  tr.data_title th {
    background-color: $default !important;
    text-align: center !important;
  }
  tr.ER {
    @extend tr.error;
  }
  tr td {
    &:nth-child(1) {
      width: 105px;
    }
    &:nth-child(2) {
      width: 75px;
    }
    &:nth-child(3) {
      width: 75px;
    }
    &:nth-child(4) {
      width: 100px;
      text-align: left;
    }
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7) {
      width: 70px;
    }
    &:nth-child(9) {
      width: 100px;
    }
    &:nth-child(10) {
      width: 250px;
      text-align: left;
    }
  }
}



