@charset "utf-8";
@import "../../style";

.user_edit {
  .name {
    width: 200px;
    margin-right: 20px;
  }
  table th {
    font-weight: bold!important;
  }
  input[type="radio"] {
    width: 30px;
  }
  label {
    margin-right: 25px;
  }
}
